.header {
  animation: bling 2s ease both;

  @at-root {
    @keyframes bling {
      0% {
        opacity: 0;
        color: red;
      }
      100% {
        opacity: 1;
        color: green;
      }
    }
  }
}