<!DOCTYPE html>
<html lang="zh-CN">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>index</title>
  <link rel="stylesheet" href="<%= htmlWebpackPlugin.options.path %>lib/vendor/vendor.common.css">
</head>
<body>
<div id="app"></div>
<!--公共资源库-->
<script src="<%= htmlWebpackPlugin.options.path %>lib/vendor/vendor.common.js"></script>
<!--第三方库-->
<script src="<%= htmlWebpackPlugin.options.path %>lib/zepto.min.js"></script>
</body>
</html>